.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #4CAF50;
    color: white;
    display: flex;
    align-items: center;

    justify-content: flex-end;
    padding: 5px 0;
    z-index: 1000;
    padding-left: 120px;
}

/* Conteneur qui centre le titre, la recherche et les boutons */
.header-container {
    display: flex;
    align-items: center;
    margin-right: 150px;
    gap: 40px; /* Espacement entre les éléments */
 
}

/* Barre de recherche */
.search-bar {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid #ddd;
    padding: 5px 10px;
    margin-right: 480px;
    width: 600px;
}

.search-icon {
    color: gray;
    margin-right: 8px;
}

.search-bar input {
    border: none;
    outline: none;
    width: 350px;
    font-size: 16px;
    padding: 8px;
}

/* Boutons à côté de la recherche */
.header-buttons {
    display: flex;
    gap: 10px; /* Espacement entre les boutons */
}

.header-btn {
    background-color: white;
    width: 100px;
    color: #4CAF50;
    border: 1px solid #4CAF50;
    border-radius: 20px;
    padding: 8px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.mm{
    width: 140px; 
    font-size: 16px;
}
.header-btn:hover {
    background-color: #4CAF50;
    color: white;
}
.logout-btn {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
  }
  
  .logout-btn:hover {
    background-color: #c9302c;
  }
  /* Media query pour les écrans inférieurs à 1600px */
@media only screen and (max-width: 1600px) {
    /* Réduire l'espacement dans le conteneur */
    .header-container {
        gap: 20px; /* Réduire l'espacement entre les éléments */
        margin-right: 130px;
    }

    /* Réduire la largeur de la barre de recherche */
    .search-bar {
        width: 500px; /* Réduire la largeur de la recherche */
        margin-right: 300px; /* Ajuster le placement */
    }

    /* Réduire la taille de la police et des boutons */
    .header-btn {
        font-size: 14px; /* Réduire la taille du texte */
        padding: 6px 12px; /* Réduire la taille du bouton */
    }

    .mm {
        width: 120px;
    }
}